{% extends 'posts/base.html' %}

{% load bootstrap4 %}


    

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-4 offset-4">
            <h1 class="display-1 mb-5 mt-2 text-muted text-center">
                Login
            </h1>
            <div class="card bg-light">
                <div class="card-body">
                    <form action="{% url 'users:login' %}" method="post" class="form">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                
                        {% buttons %}
                            <button class="btn btn-dark" name="submit">Sign in</button>
                        {% endbuttons %}
                        
                        <input type="hidden" name="next" value="{% url 'posts:home' %}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock content %}